.страница1 {
    position: absolute;
    background-color: #ffffff;
    height: 238px;
    width: 100%;
    padding: 0px;
    font-size: 17px;
}

#beginning {
    font-family: ITF Devanagari;
    line-height: 1.9;
}

.доходв1периоде {
    color: #000000;
    text-align: center;
    vertical-align: text-middle;
    font-size: 17px;
    font-family: ITF Devanagari;
    left: 11px;
    top: 687px;
    width: 140px;
    height: 25px;
    position: absolute;
    line-height: auto;
    border-style: hidden;
    outline: none;
}

.доходво2периоде {
    color: #000000;
    text-align: center;
    vertical-align: text-middle;
    font-size: 17px;
    font-family: ITF Devanagari;
    left: 250px;
    top: 687px;
    width: 140px;
    height: 25px;
    position: absolute;
    line-height: auto;
    border-style: hidden;
    outline: none;
}

.ставкапроцента {
    color: #000000;
    text-align: center;
    vertical-align: text-middle;
    font-size: 17px;
    font-family: ITF Devanagari;
    left: 492px;
    top: 687px;
    width: 140px;
    height: 25px;
    position: absolute;
    line-height: auto;
    border-style: hidden;
    outline: none;
}

.button {
    background-color: #d2f7ff;
    height: 31px;
    width: 47px;
    top: 684px;
    left: 158px;
    position: absolute;
    border-radius: 7px;
}

.button2 {
    background-color: #d2f7ff;
    height: 31px;
    width: 47px;
    top: 684px;
    left: 405px;
    position: absolute;
    border-radius: 7px;
}

.button3 {
    background-color: #d2f7ff;
    height: 31px;
    width: 47px;
    top: 684px;
    left: 630px;
    position: absolute;
    border-radius: 7px;
}

.start {
    background-color: #ffb762;
    height: 38px;
    width: 133px;
    top: 680px;
    left: 745px;
    position: absolute;
    cursor: pointer;
    border-radius: 7px;
    font-family: ITF Devanagari;
    font-size: 17px;
}
