.страница2 {
    display: none;
    position: absolute;
    background-color: #ffffff;
    height: 1744px;
    width: 1896px;
    padding: 0px;
}


.slidecontainer {
    width: 100%; /* Width of the outside container */
}

/* The slider itself */
.slider {
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    width: 100%; /* Full-width */
    height: 25px; /* Specified height */
    border-radius: 50%; 
    background: #fff3e6; /* Grey background */
    outline: none; /* Remove outline */
    opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
}

/* Mouse-over effects */
.slider:hover {
    opacity: 1; /* Fully shown on mouse-over */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */ 
.slider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 25px; /* Set a specific slider handle width */
    border-radius: 50%; 
    height: 25px; /* Slider handle height */
    background: #000000; /* Green background */
    cursor: pointer; /* Cursor on hover */
}

.slider::-moz-range-thumb {
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    border-radius: 50%; 
    background: #000000; /* Green background */
    cursor: pointer; /* Cursor on hover */
}

.решение {
    color: #000000;
    text-align: center;
    vertical-align: text-middle;
    font-size: 15px;
    font-family: ITF Devanagari;
    line-height: auto;
    border-style: hidden;
    outline: none;
    left: 900px;
    top: 26px;
    position: absolute;
    width: 117px;
}

.canvas {
    background-color: #fef3e5;
    height: 400px;
    width: 400px;
    top: 49px;
    left: 29px;
    position: absolute;
}

.text {
    background-color: #fef3e5;
    height: 550px;
    width: 510px;
    top: 57px;
    left: 900px;
    position: absolute;
}

.button3_sec {
    display: flex;  
    background-color: #ffb762;
    height: 38px;
    width: 319px;
    top: 481px;
    left: 69px;
    position: absolute;
    justify-content: center; /* Выравнивае по ширине */
    align-items: center; /* Выравнивае по высоте */
    font-size: 20px;    
}

.button4_sec {
    background-color: #ffb762;
    height: 38px;
    width: 53px;
    top: 120px;
    left: 453px;
    position: absolute;
}

.m1_sec {
    color: #000000;
    text-align: center;
    vertical-align: text-middle;
    font-size: 15px;
    font-family: Istok Web;
    left: 421px;
    top: 127px;
    width: 117px;
    height: 25px;
    position: absolute;
    line-height: auto;
    border-style: hidden;
    outline: none;
}

.button5_sec {
    background-color: #ffb762;
    height: 38px;
    width: 53px;
    top: 221px;
    left: 453px;
    position: absolute;
}

.button6_sec {
    background-color: #ffb762;
    height: 38px;
    width: 53px;
    top: 322px;
    left: 453px;
    position: absolute;
}

.m2_sec {
    color: #000000;
    text-align: center;
    vertical-align: text-middle;
    font-size: 15px;
    font-family: Istok Web;
    left: 421px;
    top: 227px;
    width: 117px;
    height: 25px;
    position: absolute;
    line-height: auto;
    border-style: hidden;
    outline: none;
}

.r_sec {
    color: #000000;
    text-align: center;
    vertical-align: text-middle;
    font-size: 15px;
    font-family: Istok Web;
    left: 421px;
    top: 328px;
    width: 117px;
    height: 25px;
    position: absolute;
    line-height: auto;
    border-style: hidden;
    outline: none;
}

.button7_sec {
    background-color: #fff3e6;
    height: 38px;
    width: 303px;
    top: 120px;
    left: 525px;
    border-radius: 8px;
    position: absolute;
}

.button8_sec {
    background-color: #fff3e6;
    height: 38px;
    width: 303px;
    top: 221px;
    left: 525px;
    border-radius: 8px;
    position: absolute;
}

.button9_sec {
    background-color: #fff3e6;
    height: 38px;
    width: 303px;
    top: 322px;
    left: 525px;
    border-radius: 8px;
    position: absolute;
}

.Начатьигру {
    background-color: #ffb762;
    height: 68px;
    width: 319px;
    top: 1608px;
    left: 274px;
    position: absolute;
}

.button11_sec {
    background-color: #e9fbff;
    height: 248px;
    width: 1896px;
    top: 614px;
    left: 0px;
    position: absolute;
}

.фото3 {
    height: 52px;
    width: 319px;
    left: 274px;
    top: 1614px;
    position: absolute;
}

.фото2 {
    height: 209px;
    width: 124px;
    left: 29px;
    top: 650px;
    position: absolute;
}

.фото1 {
    height: 243px;
    width: 320px;
    left: 954px;
    top: 615px;
    position: absolute;
}


.current-value {
    position: absolute !important;

    appearance: none;
    width: 100%;
    height: 30px;
    border-radius: 8px;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;

}
