.страница2 {
    display: none;
    position: absolute;
    background-color: #ffffff;
    height: 1044px;
    width: 1465px;
    padding: 0px;
}

.slidecontainer {
    width: 100%; 
}

.slider {
    -webkit-appearance: none; 
    appearance: none;
    width: 100%; 
    height: 25px; 
    border-radius: 50%; 
    background: #fff3e6; 
    outline: none; 
    opacity: 0.7; 
    -webkit-transition: .2s; 
    transition: opacity .2s;
}

.slider:hover {
    opacity: 1; 
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none; 
    appearance: none;
    width: 25px; 
    border-radius: 50%; 
    height: 25px; 
    background: #000000; 
    cursor: pointer;
    
}

.slider::-moz-range-thumb {
    width: 25px; 
    height: 25px; 
    border-radius: 50%; 
    background: #000000; 
    cursor: pointer; 
}

button:hover {
    transform: translateY(-2px); 
    box-shadow: 0px 4px 8px rgba(0,0,0,0.2);
}

.решение {
    color: #000000;
    text-align: center;
    vertical-align: text-middle;
    font-size: 15px;
    font-family: ITF Devanagari;
    line-height: auto;
    border-style: hidden;
    outline: none;
    left: 900px;
    top: 2px;
    position: absolute;
    width: 117px;
    font-size: 18px;
}

.canvas {
    background-color: #fef3e5;
    height: 400px;
    width: 400px;
    top: 29px;
    left: 29px;
    position: absolute;
}

.text {
    background-color: #fef3e5;
    height: 559px;
    width: 510px;
    top: 27px;
    left: 900px;
    position: absolute;
    line-height: 0.95;
    border-radius: 8px;
}

.why_status {
    background-color: #fef3e5;
    height: 330px;
    width: 418px;
    top: 254px;
    left: 460px;
    position: absolute;
    text-align: center;
    font-size: 17px;
    line-height: 2;
    border-radius: 8px;
    word-break: break-word; 
}

.animated-line {
    opacity: 0; 
    transition: opacity 0.5s ease-in-out; 
    display: block;
 }
 

.button3_sec {
    display: flex;  
    background-color: #ffb762;
    height: 38px;
    width: 319px;
    top: 461px;
    left: 69px;
    position: absolute;
    justify-content: center; 
    align-items: center; 
    font-size: 20px;    
    border-radius: 8px;
}

.m1_sec {
    display: flex;  
    background-color: #ffb762;
    height: 38px;
    width: 53px;
    top: 50px;
    left: 453px;
    justify-content: center; 
    align-items: center; 
    position: absolute;
    border-radius: 8px;
}

.m2_sec {
    display: flex;  
    background-color: #ffb762;
    height: 38px;
    width: 53px;
    top: 110px;
    left: 453px;
    justify-content: center; 
    align-items: center; 
    position: absolute;
    border-radius: 8px;
}

.r_sec {
    display: flex;  
    background-color: #ffb762;
    height: 38px;
    width: 53px;
    top: 170px;
    left: 453px;
    justify-content: center; 
    align-items: center; 
    position: absolute;
    border-radius: 8px;
}

.button7_sec {
    background-color: #fff3e6;
    height: 38px;
    width: 303px;
    top: 50px;
    left: 525px;
    border-radius: 8px;
    position: absolute;
}

.button8_sec {
    background-color: #fff3e6;
    height: 38px;
    width: 303px;
    top: 110px;
    left: 525px;
    border-radius: 8px;
    position: absolute;
}

.button9_sec {
    background-color: #fff3e6;
    height: 38px;
    width: 303px;
    top: 170px;
    left: 525px;
    border-radius: 8px;
    position: absolute;
}

.Начатьигру {
    background-color: #ffb762;
    height: 68px;
    width: 319px;
    top: 900px;
    left: 500px;
    position: absolute;
    border-radius: 8px;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
}

.button11_sec {
    background-color: #e9fbff;
    height: 248px;
    width: 1465px;
    top: 590px;
    left: 0px;
    position: absolute;
}

.фото3 {
    height: 182px;
    width: 185px;
    left: 274px;
    top: 655px;
    position: absolute;
}

.фото2 {
    height: 209px;
    width: 124px;
    left: 29px;
    top: 626px;
    position: absolute;
}

.фото1 {
    height: 243px;
    width: 320px;
    left: 954px;
    top: 591px;
    position: absolute;
}


.current-value {
    position: absolute !important;
    appearance: none;
    width: 100%;
    height: 30px;
    border-radius: 8px;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;

}


